/* You can add global styles to this file, and also import other style files */
.chatWindow {
    border: none;
    padding: 5px;
    font: 24px/36px;
    width: 600px;
    height: 600px;
    overflow: scroll;
    }
    